*{
    margin: 0;
    padding: 0;
}
::selection {
    color: #fff;
    background: #eb7350;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

/*Font-Awesome的css*/
.fa-6{
    font-size: 20em;
}
.fa-5 {
    font-size: 12em;
}
.fa-4 {
    font-size: 7em;
}
.fa-3 {
    font-size: 4em;
}
.fa-2 {
    font-size: 2em;
}


